In [1]:
name = "Asad "
age = 24

In [2]:
print("My name is " +name + "and my age is " +str(age) + ".")

My name is Asad and my age is 24.

In [3]:
print("my name is " , name , " and my age is " , age , ".")

my name is  Asad   and my age is  24 .

# Tuple

In [4]:
my_tuple = ('Ahsan' , 21 , 21.45, True)

In [5]:
my_tuple[3]

True

In [6]:
new_tup = (1,2,3,4,5,6,7,8,9,)

In [7]:
new_tup.index(8)

7

In [12]:
friends = ("Ali" , "Ali", "Hamza", " Azhar", "Asad","Ali", "Latif")
friends.index("Ali" ,2 )

5

In [13]:
naya = (1,2,3,4,5,6,4,5,6,7,8,7,9,7,9,) #agr me chaho k koi num is me kitni martaba use hoa he to me 'count' use kroga

In [14]:
naya.count(9)

2

# LOOP

# For Loop

In [16]:
list1 = [1,2,3,4,5,6,7,8,9,10]   #agr me chahta ho k me har numm ko 2 se multiple krdo

In [17]:
for number in list1:
    square = number * 2
    print(square)

2
4
6
8
10
12
14
16
18
20

In [18]:
name1 = ["Ali", "Inam" , "Asad" , "Abdul" , "Latif"]

In [19]:
for name2 in name1:
    print(name2)

Ali
Inam
Asad
Abdul
Latif

In [20]:
# 2 X 1 = 2
# Range

In [22]:
for i in range(11):
    print(i, "Pakistan")

0 Pakistan
1 Pakistan
2 Pakistan
3 Pakistan
4 Pakistan
5 Pakistan
6 Pakistan
7 Pakistan
8 Pakistan
9 Pakistan
10 Pakistan

In [23]:
for a in range (1, 11):
    print(a, "PIAIC")

1 PIAIC
2 PIAIC
3 PIAIC
4 PIAIC
5 PIAIC
6 PIAIC
7 PIAIC
8 PIAIC
9 PIAIC
10 PIAIC

In [24]:
for b in range(1,11,1):
    print(b)

1
2
3
4
5
6
7
8
9
10

In [26]:
for c in range(1,11,2): #first kaha se start karna he sec kaha tak jana he third slicing kis ko nikal kr lana he 
    print(c)

1
3
5
7
9

In [27]:
#for reverse 
for h in range (10,0,-1):
    print(h, end=" ")

10 9 8 7 6 5 4 3 2 1

In [29]:
print(h, end=" \t")

1

In [30]:
print("asad", "ali", "hamza", sep="*******") #space ki jaga mujhe agr kuch lana ho to

asad*******ali*******hamza

In [32]:
name = "asad"
age = "24"
print("my name is {} and my age is {}" .format(name , age)) #type cast karna bhi nahi karna paaregaa

my name is asad and my age is 24

In [33]:
#there is one more to formate the str
print(f"my name is {name} and my age is {age}")

my name is asad and my age is 24

In [43]:
val = int(input('enter any value you want look at table '))
for nums in range(1,11):
    print(f" {val} X {nums} = {val * nums}")

enter any value you want look at table 5
 5 X 1 = 5
 5 X 2 = 10
 5 X 3 = 15
 5 X 4 = 20
 5 X 5 = 25
 5 X 6 = 30
 5 X 7 = 35
 5 X 8 = 40
 5 X 9 = 45
 5 X 10 = 50

In [44]:
#break, continue, pas

In [45]:
val = int(input('enter any value you want look at table '))
for nums in range(1,11):
    if nums==3:
        break
    print(f" {val} X {nums} = {val * nums}")

enter any value you want look at table 9
 9 X 1 = 9
 9 X 2 = 18

In [46]:
val = int(input('enter any value you want look at table '))
for nums in range(1,11):
    if nums==3:
        continue
    print(f" {val} X {nums} = {val * nums}")

enter any value you want look at table 6
 6 X 1 = 6
 6 X 2 = 12
 6 X 4 = 24
 6 X 5 = 30
 6 X 6 = 36
 6 X 7 = 42
 6 X 8 = 48
 6 X 9 = 54
 6 X 10 = 60

In [51]:
lis1 = ["asad","Umair","asif","abid","sultan"]
fr = input('your name please ').lower()
rem = 
for bf in fr:
    if bf == "umair":
        break
    print('lets enjoy party')

your name please asad
lets enjoy party
lets enjoy party
lets enjoy party
lets enjoy party

In [60]:
friends = ["a", "b","c","d",]
ask = input("you name please").lower()
if ask != "c":
    print("enjoy party")
else:
    print("party is over")

you name pleasec
party is over

In [64]:
for a in range(10):
    
    pass

# nester for loops

In [69]:
for a in range(10):
    print(a)
for b in ["a","b","c","d","e"]:
    print(a,b)
#abhi ye multiple loop he

0
1
2
3
4
5
6
7
8
9
9 a
9 b
9 c
9 d
9 e

In [68]:
for a in range(3):
    for b in ["a","b","c","d","e"]:
        print(a,b)

0 a
0 b
0 c
0 d
0 e
1 a
1 b
1 c
1 d
1 e
2 a
2 b
2 c
2 d
2 e

In [85]:
for p in range(1,10):
    for m in range(1,10):
        print(f" {p} X {m} = {p*m}")

 1 X 1 = 1
 1 X 2 = 2
 1 X 3 = 3
 1 X 4 = 4
 1 X 5 = 5
 1 X 6 = 6
 1 X 7 = 7
 1 X 8 = 8
 1 X 9 = 9
 2 X 1 = 2
 2 X 2 = 4
 2 X 3 = 6
 2 X 4 = 8
 2 X 5 = 10
 2 X 6 = 12
 2 X 7 = 14
 2 X 8 = 16
 2 X 9 = 18
 3 X 1 = 3
 3 X 2 = 6
 3 X 3 = 9
 3 X 4 = 12
 3 X 5 = 15
 3 X 6 = 18
 3 X 7 = 21
 3 X 8 = 24
 3 X 9 = 27
 4 X 1 = 4
 4 X 2 = 8
 4 X 3 = 12
 4 X 4 = 16
 4 X 5 = 20
 4 X 6 = 24
 4 X 7 = 28
 4 X 8 = 32
 4 X 9 = 36
 5 X 1 = 5
 5 X 2 = 10
 5 X 3 = 15
 5 X 4 = 20
 5 X 5 = 25
 5 X 6 = 30
 5 X 7 = 35
 5 X 8 = 40
 5 X 9 = 45
 6 X 1 = 6
 6 X 2 = 12
 6 X 3 = 18
 6 X 4 = 24
 6 X 5 = 30
 6 X 6 = 36
 6 X 7 = 42
 6 X 8 = 48
 6 X 9 = 54
 7 X 1 = 7
 7 X 2 = 14
 7 X 3 = 21
 7 X 4 = 28
 7 X 5 = 35
 7 X 6 = 42
 7 X 7 = 49
 7 X 8 = 56
 7 X 9 = 63
 8 X 1 = 8
 8 X 2 = 16
 8 X 3 = 24
 8 X 4 = 32
 8 X 5 = 40
 8 X 6 = 48
 8 X 7 = 56
 8 X 8 = 64
 8 X 9 = 72
 9 X 1 = 9
 9 X 2 = 18
 9 X 3 = 27
 9 X 4 = 36
 9 X 5 = 45
 9 X 6 = 54
 9 X 7 = 63
 9 X 8 = 72
 9 X 9 = 81