In [1]:
print('asad latif')

asad latif

In [1]:
asad1 = 'asad'
print('asad1')

asad1

In [2]:
print(asad1)

asad

In [3]:
#variable/ = means assignment operator
var = 'name'

In [4]:
print(2+2)

4

In [5]:
print(2/2)

1.0

In [6]:
print(2//2) #float division

1

In [7]:
1 + 3 * 4  #BODMAS bracket exponent division multiply additoin substraction)
print (1 + 3 * 4)

13

In [8]:
(2*4)*4+3

35

In [9]:
(2*4)*(4+2)

48

In [10]:
2**2

4

In [11]:
(4//2)*6+(2+3)**2

37

In [12]:
5+3

8

In [13]:
5+2

7

In [14]:
add = 5+2
print(add)

7

In [15]:
str = "Pakistan" + "Zindabad"
print(str)

PakistanZindabad

In [17]:
str1 = 'pakistan'
str2 = 'zindabad'
str3 = 'paindabad'
print(str1+str2+str3)

pakistanzindabadpaindabad

In [18]:
5 + 'pakistan'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
'5' + 'pakistan'

'5pakistan'

In [20]:
'pakistan' * 5

'pakistanpakistanpakistanpakistanpakistan'

In [21]:
print ('pakistan /nzindabad')

pakistan /nzindabad

In [22]:
print('pakistan \n zindabad')

pakistan
 zindabad

In [23]:
print('''my country name is pakistan. 
Quaid once said; "no force on earth can undo pakistan"''')

my country name is pakistan.
Quaid once said; "no force on earth can undo pakistan"

In [24]:
# user input
user_input = input ("Enter your input:")
print(user_input)

Enter your input:asad latif
asad latif

In [26]:
user_input1 = input ('enter any number')
print (user_input1)

enter any number22
22

In [27]:
# type casting jaha ham khud change kre type ko
usr_input = input ('enter any number')
print(int(usr_input) +5)

enter any number50
55

In [32]:
user_name = input ('enter your user name')
user_age =  input ('enter your age: ')
user_age = int(user_age) + 4 # type casted to do addition 
print ('my name is' +user_name + 'and my age is',user_age)

enter your user nameTehsen
enter your age: 4
my name isTehsenand my age is 8

In [1]:
a = 10
a

10

In [2]:
a = a + 10
a

20

In [3]:
a += 1
a

21

In [4]:
a -= 1
a

20

In [5]:
a *= 2
a

40

In [6]:
a /= 2
a

20.0

In [7]:
a//= 2
a

10.0

In [8]:
name = 'latif'
if name == 'latif':
    print('my name is latif')

my name is latif

In [11]:
name = 'Mohsin'
if name == 'mohsin':
    print('my name is mohsin')
else: 
    print ('my name is asad')

my name is asad

In [13]:
name = 'Arif'
increment = 0
if name == 'Arif':
    print('my name is '+name+ '.')
    increment += 5
    print(increment)

my name is Arif.
5

In [14]:
print('comprassion operators')

comprassion operators

# comparision operator

In [16]:
num1 = 69
num2 = 66
if num1 != num2:
    print('number 1 and number 2 are not equal....')
else:
        print('both number are equal')

number 1 and number 2 are not equal....

In [19]:
5 != 2

True

In [20]:
5!= 5

False

In [28]:
age = int(input('enter your age please'))
if age >= 18:
    print('go and make your CNIC')
else:
    print('you are not eligible to make cnic')

enter your age please10
you are not eligible to make cnic

In [34]:
demand = int(input('how many marks do you get'))
if demand >= 80:
             print('car')
elif demand >= 70:
    print('mobile')
elif demand >= 60:
    print('toy')
elif demand >= 50:
    print('chocolate')
else:
    print('you will get nothing')

how many marks do you get51
chocolate

In [3]:
age = int(input('enter your age please'))
if age >= 18:
    print('in process....please wait!!!')
    ticket = input('do you have ticket [Y/N]').upper()
    if ticket == 'Y':
        print('welcome to cinema')
    else:
        ('buy your ticket')
else:
    print('your are child')

enter your age please19
in process....please wait!!!
do you have ticket [Y/N]y
welcome to cinema

In [1]:
cnic = input('do you have CNIC [Y/N]').upper()
if cnic == 'Y':
    print('first process done')
    list = int(input('your voting number please'))
    if list == 444:
        print('please vote your fav consistant')
    else:
        print('you are not in the voting list please switch to any other voting boot')
else:
    print('without cnic you are not eligible for voting')

do you have CNIC [Y/N]n
without cnic you are not eligible for voting

# Lists

In [2]:
city_1 = 'karachi'
city_2 = 'Lahore'
#list 
cities = ['Karachi', 'Lahore', 'Islamabad']

In [ ]:
# indexing:
cities = ['Karachi', 'Lahore', 'Islamabad']
#index no:   0            1          2

In [3]:
#to get list member
cities[0] # 0 means 1st position

'Karachi'

In [4]:
mix = ['str', 11, True]
mix

['str', 11, True]

In [5]:
type(mix)

list

In [6]:
listinlist = [mix, cities]
listinlist

[['str', 11, True], ['Karachi', 'Lahore', 'Islamabad']]

In [7]:
listinlist[1][2]

'Islamabad'

In [8]:
mix

['str', 11, True]

In [9]:
# deleting
del mix [1]
mix

['str', True]

In [ ]:
# if we want to remove value
# press shift + tab for signature

In [2]:
# for add in list
faculty=['hamza', 'asad']

In [3]:
faculty.append('shahzad')
faculty

['hamza', 'asad', 'shahzad']

In [4]:
# to add a value with your will 
faculty.insert(0,'Faculty:')
faculty

['Faculty:', 'hamza', 'asad', 'shahzad']

In [5]:
faculty

['Faculty:', 'hamza', 'asad', 'shahzad']

In [6]:
faculty[2] = 'nasir '
faculty

['Faculty:', 'hamza', 'nasir ', 'shahzad']

In [9]:
faculty.index('hamza')

1

In [11]:
number = [1,5,3,9,8,10]
number.sort() # in Ascending order
number

[1, 3, 5, 8, 9, 10]

In [12]:
number.sort(reverse=True)
number

[10, 9, 8, 5, 3, 1]

In [13]:
alphabet = ['a', 'e', 'c']
alphabet

['a', 'e', 'c']

In [14]:
alphabet.sort()
alphabet

['a', 'c', 'e']

In [15]:
alphabet.sort(reverse=True)
alphabet

['e', 'c', 'a']

In [3]:
a1 = ['a', 'c', 'b' ,'a']
a1.sort()
a1

['a', 'a', 'b', 'c']

In [2]:
a2 = [1,2,5,4,4]
a2.sort()
a2

[1, 2, 4, 4, 5]

In [4]:
# to remove from one list and add it to other list 
l_1=['st1','st2', 'st3', 'st4']
l=l_1.pop()
print(l)

st4

# slicing

In [5]:
numbers = [1,2,3,4,5]
numbers
# numbers [start: end - 1]

[1, 2, 3, 4, 5]

In [8]:
new_n = numbers[1:3]
new_n

[2, 3]

In [9]:
numbers

[1, 2, 3, 4, 5]

In [12]:
# negative indexing
list_one = [1,2,5,3,4,9]
list_one[-1]

9

In [11]:
list_one[-2]

4

In [13]:
list_one[2:7]

[5, 3, 4, 9]

In [14]:
list_one

[1, 2, 5, 3, 4, 9]

In [15]:
list_one[-3:-1]

[3, 4]

In [16]:
list_one

[1, 2, 5, 3, 4, 9]

In [18]:
list_one[-3:4]

[3]